textarea#yourcode {
	visibility: hidden;
	height: 0;
}

html {
min-height: 100%;
}

body {
	text-align: left;
	background: linear-gradient(#00134D, #00394D, #004D39, #004D13);
	color: white;
	font-family: Gill Sans, Verdana;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

h1 {
	text-align: center;
}

#runbutton {
	text-align: center;
}

p {
text-align: center;
font:italic bold 12px/30px Georgia, serif
}

a:link {
    color: #FF0000;
}

a:visited {
    color: #00FF00;
}

a:hover {
    color: #FF00FF;
}

a:active {
    color: #0000FF;
}